.Luxurious_Rooms {
  font-size: 52px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  line-height: 0.806;
  text-align: center;
  -moz-transform: matrix(1.37970477396825, 0, 0, 1.37970477396825, 0, 0);
  -webkit-transform: matrix(1.37970477396825, 0, 0, 1.37970477396825, 0, 0);
  -ms-transform: matrix(1.37970477396825, 0, 0, 1.37970477396825, 0, 0);
  position: absolute;
  left: 773.881px;
  top: 417.969px;
  z-index: 27;
}
