:root {
  --primaryColor: #ffbd00;
  --primaryWhite: #fff;
  --primaryBlack: #222;
  --primaryGrey: #efefef;
  --letterSpacing: 0.25rem;
}
body {
  font-family: "Montserrat", sans-serif !important;
  background: var(--primaryWhite) !important;
  color: var(--primaryBlack) !important;
}
