@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
:root {
  --primaryColor: #ffbd00;
  --primaryWhite: #fff;
  --primaryBlack: #222;
  --primaryGrey: #efefef;
  --letterSpacing: 0.25rem;
  --primaryTransition: all 0.3s ease-in-out;
}
body {
  font-family: "Montserrat", sans-serif !important;
  background: var(--primaryWhite) !important;
  color: var(--primaryBlack) !important;
}
